/html/
/node_modules/
/tmp/
/TODO.md
/certs/
/secrets.sh
/src/public/swagger-ui/LICENSE
/src/public/swagger-ui/NOTICE
/src/public/swagger-ui/README.md
/src/public/swagger-ui/absolute-path.js
/src/public/swagger-ui/favicon-16x16.png
/src/public/swagger-ui/favicon-32x32.png
/src/public/swagger-ui/index.css
/src/public/swagger-ui/index.html
/src/public/swagger-ui/index.js
/src/public/swagger-ui/log.bundle-sizes.swagger-ui.txt
/src/public/swagger-ui/log.es-bundle-core-sizes.swagger-ui.txt
/src/public/swagger-ui/log.es-bundle-sizes.swagger-ui.txt
/src/public/swagger-ui/oauth2-redirect.html
/src/public/swagger-ui/oauth2-redirect.js
/src/public/swagger-ui/package.json
/src/public/swagger-ui/swagger-initializer.js
/src/public/swagger-ui/swagger-ui-bundle.js
/src/public/swagger-ui/swagger-ui-bundle.js.LICENSE.txt
/src/public/swagger-ui/swagger-ui-bundle.js.map
/src/public/swagger-ui/swagger-ui-es-bundle-core.js
/src/public/swagger-ui/swagger-ui-es-bundle-core.js.LICENSE.txt
/src/public/swagger-ui/swagger-ui-es-bundle-core.js.map
/src/public/swagger-ui/swagger-ui-es-bundle.js
/src/public/swagger-ui/swagger-ui-es-bundle.js.LICENSE.txt
/src/public/swagger-ui/swagger-ui-es-bundle.js.map
/src/public/swagger-ui/swagger-ui-standalone-preset.js
/src/public/swagger-ui/swagger-ui-standalone-preset.js.LICENSE.txt
/src/public/swagger-ui/swagger-ui-standalone-preset.js.map
/src/public/swagger-ui/swagger-ui.css
/src/public/swagger-ui/swagger-ui.css.map
/src/public/swagger-ui/swagger-ui.js
/src/public/swagger-ui/swagger-ui.js.map
/src/public/google*.html
